@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-montserrat font-500;
}

.bg-custom-gradient-yellow {
  background: linear-gradient(71deg, #feaf00 19.35%, #f8d442 90.12%);
}

.student-list-item,
.student-list-heading {
  column-gap: 12px;
  padding: 1.25rem 0.75rem;
  grid-template-columns:
    [first]70px
    [var1]minmax(150px, 3fr)
    [var2]minmax(200px, 4fr)
    [var3]minmax(100px, 3fr)
    [var4]minmax(130px, 2fr)
    [var5]minmax(150px, 2fr)
    [last]100px;
}

.payment-list-item,
.payment-list-heading {
  column-gap: 15px;
  padding: 1.25rem 1rem;
  grid-template-columns:
    [first]minmax(200px, 3fr)
    [var1]minmax(80px, 2fr)
    [var2]minmax(100px, 3fr)
    [var3]minmax(120px, 3fr)
    [var4]minmax(150px, 3fr)
    [var5]minmax(130px, 2fr)
    [last]50px;
}

.report-list-item,
.report-list-heading {
  column-gap: 15px;
  padding: 1.25rem 1rem;
  grid-template-columns:
    [first]minmax(200px, 1fr)
    [var1]minmax(150px, 1fr)
    [var2]minmax(130px, 3fr)
    [last]50px;
}

.course-list-item,
.course-list-heading {
  column-gap: 15px;
  padding: 1.25rem 1.5rem;
  grid-template-columns:
    [first]70px
    [var1]minmax(150px, 1fr)
    [var2]minmax(130px, 1fr)
    [var2]minmax(130px, 1fr)
    [var2]minmax(130px, 3fr)
    [last]50px;
}

/* Hide scrollbar for all elements */
.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit-based browsers (e.g., Chrome, Safari) */
  scrollbar-width: thin; /* Hide scrollbar for Firefox */
}

.student-list-item,
.report-list-item,
.payment-list-item {
  @apply my-2 grid items-center rounded-xl border font-400 transition hover:bg-custom-beige;
}

.btn {
  @apply rounded-md border p-3 transition hover:shadow-lg disabled:bg-custom-dark-gray disabled:shadow-none;
}

.btn-primary {
  @apply bg-custom-yellow text-white;
}

.login-card {
  @apply flex w-1/4 min-w-max flex-col justify-between gap-y-10 rounded-2xl bg-white px-8 py-10 text-center text-sm text-black shadow-lg;
}

.sidebar {
  @apply flex min-h-min w-1/6 min-w-max flex-col items-stretch justify-between gap-y-2 overflow-y-scroll bg-custom-beige px-3 py-10;
}

.sidebar .nav-link {
  @apply my-3 flex min-w-max items-baseline justify-stretch gap-2 rounded-lg px-16 py-3 transition hover:bg-custom-gray;
}

.sidebar .nav-link.active {
  @apply bg-custom-yellow;
}

.dashboard-grid {
  @apply grid h-auto grid-cols-1 items-stretch gap-8 p-8 lg:grid-cols-2 xl:grid-cols-4;
}

.dashboard-card {
  @apply block cursor-pointer overflow-hidden rounded-lg border p-10 transition delay-75 duration-300 hover:shadow-2xl hover:shadow-zinc-300;
}

.dashboard-card-primary {
  @apply bg-custom-gradient-yellow text-white;
}

.dashboard-card-secondary {
  @apply bg-custom-light-yellow;
}

.dashboard-card-thirdly {
  @apply bg-custom-light-pink;
}

.dashboard-card-fourthly {
  @apply bg-custom-light-blue;
}

.dashboard-card-fifthly {
  @apply bg-red-500;
}

.dashboard-card-sixthly {
  @apply bg-yellow-300;
}

.dashboard-card-eighthly {
  @apply bg-green-500;
}

.dashboard-card-seventhly {
  @apply bg-blue-600;
}

.sort-menu {
  @apply absolute right-0 z-10 block rounded-lg border bg-white shadow-md transition-all;
}

.sort-option {
  @apply w-full min-w-max cursor-pointer list-none rounded px-3 py-2 text-sm capitalize hover:bg-custom-beige;
}

.sort-option.active {
  @apply bg-custom-yellow;
}
